<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main class="main fade" data-toggle="fade">
      <div class="container">
        {{ content }}
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        Made by <a href="http://github.com/asilvadesigns" target="_blank">yours truly</a> with <span class="text--line-through">love</span> <a href="http://github.com/asilvadesigns/fightthebunnies" target="_blank">code</a>.
      </div>
    </footer>
  </body>
  {% include js.html %}
</html>
