{% include utilities__base.html %}
<nav class="nav">
  <div class="container">
    <div class="nav__group">
      <div class="nav__logo">
        <a class="nav__item" href="{{ base }}/">Home</a>
      </div>
      <div class="nav__menu">
        <a class="nav__item" href="{{ base }}/about.html">About</a>
        <a class="nav__item" href="{{ base }}/projects.html">Projects</a>
        <a class="nav__item" href="http://github.com/asilvadesigns" target="_blank">Github</a>
      </div>
    </div>
  </div>
</nav>
