//  <div class="feature feature--square feature--rounded">
//    <img class="feature__image" src="{{ site.baseurl }}img/albertosilva__face.jpg" alt="Alberto Silva's Portrait">
//  </div>
//
//  <p style="max-width: 16em;">
//    Hello, my name is Alberto Silva. Welcome to my ramblings.
//  </p>

/*
 *var
 */
$ratio: 1.414;
$rhythm: 1.618;
$h5: 1rem;
$h6: $h5 / $ratio;
$h4: $h5 * $ratio;
$h3: $h4 * $ratio;
$h2: $h3 * $ratio;
$h1: $h2 * $ratio;

/*
 *tools
 */
@function toUnit($input, $unit) {
  @if $unit == "rem" {
    @return $input * 1rem;
  }

  @if $unit == "em" {
    @return $input * 1em;
  }
}

@function rhythm($size, $unit: "rem") {
  $calc: $size * $rhythm;

  @if $unit == "rem" {
    @return toUnit($calc, "rem");
  }
  @else if $unit == "em" {
    @return toUnit($calc, "em");
  }
}

/*
 *reset
 */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

hr {
  border: 0 none;
  height: 1px;
  background-color: currentColor;
}

/*
 *typography
 */
@font-face {
  font-family: 'MarkWeb-Bold';
  src: url("../font/MarkWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: 'MarkWeb';
  src: url("../font/MarkWeb.woff") format("woff");
}

@font-face {
  font-family: 'TisaWeb-Bold';
  src: url("../font/TisaWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: 'TisaWeb';
  src: url("../font/TisaWeb.woff") format("woff");
}

@mixin sans-serif--bold {
  font-family: 'MarkWeb-Bold', sans-serif;
  font-feature-settings: "kern" 1, "ss01" 1, "pnum" 1, "onum" 1;
}

@mixin sans-serif {
  font-family: 'MarkWeb', sans-serif;
  font-feature-settings: "kern" 1, "ss01" 1, "pnum" 1, "onum" 1;
}

@mixin serif--bold {
  font-family: 'TisaWeb-Bold', serif;
  font-feature-settings: "frac" 1, "kern" 1, "liga" 1, "pnum" 1, "onum" 1;
}

@mixin serif {
  font-family: 'TisaWeb', serif;
  font-feature-settings: "frac" 1, "kern" 1, "liga" 1, "pnum" 1, "onum" 1;
}

@mixin small-caps {
  font-feature-settings: "smcp" 1;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}

html {
  font-size: 20 / 16 * 100%;
  height: 100%;
}

body {
  @include serif;

  font-size: 1rem;
  line-height: $rhythm;
  color: #333;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif--bold;

  line-height: $ratio;
}

p {
  margin-bottom: rhythm(0.5);
}

strong {
  @include serif;
  @include small-caps;
}

hr {
  height: rhythm(0.125);
  width: rhythm(0.625);
  margin: rhythm(1) 0;
}

blockquote {
  margin-top: rhythm(2);
  margin-bottom: rhythm(2);
  position: relative;
  left: rhythm(0.5);

  &:before {
    content: open-quote;
    display: block;
    position: absolute;
    top: 0;
    left: rhythm(-0.5);
  }
}

/*
 *main content wrapper
 */
.main {
  flex: 1;
}

/*
 *grid
 */
.container {
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/*
 *header
 */
.header {
  margin-bottom: rhythm(0.5);
}

.header__title {
  @include sans-serif--bold;

  font-size: $h4;
}

.header__subtitle {
  font-size: $h6;
}

/*
 *navbar
 */
.navbar {
  padding-top: rhythm(0.5);
  padding-bottom: rhythm(0.5);
  margin-bottom: rhythm(2);
}

.navbar__item {
  display: inline-flex;

  @include sans-serif;

  font-size: $h6;
  padding-right: rhythm(0.5);
}

/*
 *intro
 */
.intro {
  position: relative;
  left: rhythm(-1.25 + 0.625 / 2);

  .list__item {
    margin-bottom: 0;
  }
}

/*
 *list
 */
.list {
  &--inline {
    .list__item {
      display: inline-block;
      vertical-align: middle;
    }

    .list__item + .list__item {
      margin-left: rhythm(0.5);
    }
  }
}

.list__item {
  margin-bottom: rhythm(1);
}

/*
 *text utilites
 */
.text {
  &--centered {
    text-align: center;
  }

  &--full-stop {
    &:after {
      content: ".";
      margin-left: -0.175em;
    }
  }

  &--line-through {
    text-decoration: line-through;
  }

  &--small-caps {
    @include small-caps;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}

/*
 *feature
 */
.feature {
  position: relative;
  margin-bottom: rhythm(1);

  &--square {
    height: rhythm(3);
    width: rhythm(3);
  }

  &--rounded {
    border-radius: 50%;
    overflow: hidden;
  }
}

.feature__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/*
 *lightbox
 */
[data-toggle="lightbox"] {
  cursor: pointer;
  //transition: opacity 0.125s ease-in-out;
  //&:hover {
  //  opacity: 0.9;
  //  pointer-events: all;
  //}
}

.lightbox__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.75);
  background-repeat: no-repeat;
  background-position: center center;

  //background-size: auto 90%;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.in {
    opacity: 1;
    pointer-events: all;
  }

  &:before {
    content: "click to exit.";

    @include sans-serif;

    font-size: $h6;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: black;
    border-top-right-radius: 6px;
    padding: rhythm(0.25);
    line-height: 1;
  }
}

/*
 *footer
 */
.footer {
  font-size: $h6;
  margin-top: rhythm(2);

  a {
    color: dodgerblue;
  }

  .container {
    position: relative;
    padding-top: rhythm(0.5);
    padding-bottom: rhythm(0.5);

    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 1rem;
      height: 1px;
      width: calc(100% - 2rem);
      background-color: currentColor;
    }
  }
}

/*
 *page layout specific
 */
.page {}

/*
 *post layout specific
 */
.post {
  a {
    text-decoration: underline;
  }
}
